bucket:
    bucket_name: "dpf-v3-2"
    project: "test-pipeline"
    access_key: ""
    secret_key: ""
    uri: "https://storage.googleapis.com"

chinookdb:
    con: "postgresql://nu:<password>@<host>/chinook"